.contact{
    padding: 30px 0;
    background-color: #fafafa;
}

.contact .main{
    
}

.contact .main .contact-btn{
    margin-top: 20px;
}

.contact .image{
    
}

.contact .image img{
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}