.forget-password {
  padding: 60px 0;
}

.forget-password .card {
  padding: 30px 15px;
  box-shadow: 1px 5px 5px #ebebeb;
}

.forget-password .forget-btn a {
  letter-spacing: 0.1px;
}

.forget-password h2{
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  color:  var(--color-black);
}

