.forget-password {
  padding: 5% 0;
}

.forget-password .forget-btn a {
  letter-spacing: 0.1px;
}

.forget-password h2{
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  color:  var(--color-black);
}

