/* selects */
.selects{
    background-color: var(--color-red);
    padding: 20px 0;
}

.selects .card{
    cursor: pointer;
}

.selects .card .card-body{
    padding: 10px 15px;
    outline: 0;
}

.selects .card a{
    color: var(--color-black);
    font-size: 15px;
}

.selects .card .card-body a:hover{
    opacity: 0.5s;
    transition: 0.5s;
    color: var(--color-red);
}

.selects .card i{
    color: var(--color-black);
    float: right;
    padding-top: 4px;
}

.selects .card .card-body i:hover{
    opacity: 0.5s;
    transition: 0.5s;
    color: var(--color-red);
}

/* home-about */
.home-about{
    padding: 50px 0;
}

.home-about h3{
    font-size: 25px;
    font-weight: 600;
    color: var(--color-black);
}

.home-about p{
    font-size: 14px;
    padding-top: 15px;
    color: var(--color-gry);
}

.home-about .about-inner .card{
    padding: 50px;
    margin-top: 20px;
    transition: transform 0.2s ease;
    color: var(--color-red);
    width: 100%;
    height: 200px;
}

.home-about .about-inner .card:hover{
    transform: scale(1.1);
    color: var(--color-black);
}

.home-about .about-inner .card i{
    font-size: 25px;
}

.home-about .about-inner .card h6{
    font-size: 15px;
    font-weight: 600;
    padding-top: 20px;
}

/* connect */
.connect{
    padding: 50px 0;
    background-color: #f5f5f5;
}

.connect .card{
    text-align: center;
}

.connect .card .card-body{
    padding: 30px;
}

.connect .card .card-body img{
    width: 150px;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.connect .card .card-body h4{
    font-size: 17px;
    padding-top: 20px;
}

/* online */
.online{
    padding: 50px 0;
}
.online h3{
    font-size: 20px;
    font-weight: 600;
    color: var(--color-black);
}

.online .inner{
    margin-top: 10px;
}

.online .inner .card{
    padding: 30px 20px;
    margin-top: 25px;
    text-align: center;
}

.online .inner .card img{
    width: 90px;
    height: 90px;
    object-fit: cover;
    object-position: center;
    display: block;
    margin: auto;
}

.online .inner .card h6{
    font-size: 15px;
    font-weight: 600;
    padding-top: 10px;
    color: var(--color-red);
}

.online .inner .card p{
    font-size: 11px;
    padding-top: 10px;
    color: var(--color-gry);
}

/* find */
.find{
    padding: 50px 0;
    background: var(--color-black);
}

.find .inner{
    margin-top: 30px;
}

.find .inner h3{
    color: var(--color-white);
    font-size: 25px;
    font-weight: 500;
}

.find .chip a{
    background: linear-gradient(77deg,#f5286e,#fc6d43);
    border-radius: 30px;
    padding: 5px 20px;
    font-size: 14px;
    color: var(--color-white);
    margin: 10px 15px 0 0;
}

.find .chip a:hover{
    opacity: 0.5s;
    transition: 0.5s;
    color: var(--color-black);
}

/* job-hiring */
.job-hiring{
    padding: 50px 0;
}

.job-hiring .image img{
    width: 500px;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.job-hiring .inner{
    margin-top: 30px;
}

.job-hiring .inner .form-group{
    position: relative;
}

.job-hiring .inner h4{
    font-size: 25px;
    font-weight: 600;
}

.job-hiring .inner i{
    position: absolute;
    top: 12px;
    left: 10px;
    font-size: 14px;
    color: var(--color-gry);
}

.job-hiring .inner input{
    padding-left: 40px;
    outline: 0;
}

.job-hiring .post-btn{
    font-size: 14px;
}

/* recommended */
.recommended{
    padding: 50px 0;
    background: #b7653608;
}
.recommended h3{
    font-size: 20px;
    font-weight: 600;
    color: var(--color-black);
}

.recommended .inner{
    text-align: center;
    margin-top: 10px;
}

.recommended .inner .card{
    padding: 60px;
    margin-top: 25px;
    transition: transform 0.2s ease;
    color: var(--color-red);
}

.recommended .inner .card:hover{
    transform: scale(1.1);
    color: var(--color-black);
}

.recommended .inner .card i{
    font-size: 20px;
}

.recommended .inner .card h6{
    font-size: 14px;
    padding-top: 25px;
}

/* post */
.post{
    padding: 50px 0;
}

.post .left{
    margin-top: 50px;
}

.post .left h1{
    font-size: 35px;
    font-weight: 600;
}

.post .left .post-btn a{
    font-size: 14px;
}

.post .image{
    text-align: center;
}

.post .image img{
    width: 300px;
    height: auto;
    object-fit: cover;
    object-position: center;
}

/* question */
.question{
    padding: 30px 0;
    background-color: #efefef;
}

.question .left h1{
    font-size: 25px;
    font-weight: 600;
}

.question .post-btn{
    float: right;
    margin-top: 3px;
}

.question .post-btn a{
    font-size: 14px;
}

