.login {
  padding: 60px 0;
}

.login .card {
  padding: 30px 15px;
  box-shadow: 1px 5px 5px #ebebeb;
}

.login h2 {
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  color: var(--color-black);
}

.login .forgot-checkout .checkout label {
  color: var(--color-black);
  font-size: 15px;
}

.login .forgot-checkout .forgot-btn a {
  font-weight: 600;
  font-size: 15px;
  float: right;
  color: var(--color-red);
}

.login .login-btn a {
  letter-spacing: 0.1px;
}

.login .new-account {
  padding-top: 15%;
  text-align: center;
}

.login .new-account span {
  color: var(--color-black);
  font-size: 15px;
}

.login .new-account a {
  font-weight: 600;
  font-size: 15px;
  padding-left: 2px;
  color: var(--color-red);
}

.form-group label.form-check-label {
  color: var(--color-red);
}
