.services{
    padding: 30px 0;
}

.services .chip{
    margin-top: 30px;
}

.services .chip a{
    background: linear-gradient(77deg,#f5286e,#fc6d43);
    border-radius: 30px;
    padding: 5px 20px;
    font-size: 14px;
    color: var(--color-white);
    margin: 15px 15px 0 0;
}

.services .chip a:hover{
    opacity: 0.5s;
    transition: 0.5s;
    color: var(--color-black);
}