.slider{
    width: 100%;
    height: 93vh;
    background-color: var(--color-white);;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider .heading{
    margin-top: 30px;
}

.slider .heading h1{
    font-size: 45px;
    font-weight: 700;
    color: var(--color-black);
}

.slider .heading .slider-btn a{
    font-size: 15px;
    padding: 10px 30px;
}

.slider .image{
    text-align: center;
}

.slider .image img{
    width: 350px;
    height: 350px;
    object-fit: cover;
    object-position: center;
}