.slider{
    background-image: url(../../assets/img/background1.jpg);
    width: 100%;
    height: 93vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: soft-light;
    background-color: #ffffff85;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider .heading{
    margin-top: 30px;
}

.slider .heading h1{
    font-size: 45px;
    font-weight: 700;
    color: var(--color-black);
}

.slider .heading .slider-btn a{
    font-size: 14px;
    padding: 8px 25px;
}

.slider .image{
    text-align: center;
}

.slider .image img{
    width: 400px;
    height: auto;
    object-fit: cover;
    object-position: center;
}