:root {
  --color-red: #dc3545;
  --color-black: #020202;
  --color-gry: #a7a7a7;
  --color-white: #ffff;
  --color-blue: #1580bf;
  --color-green: #198754;
}

body
{
  font-family: 'Roboto', sans-serif !important;
  overflow-x: hidden;
  margin-bottom: 0 auto;
}

p, h1 ,h2 ,h3, h4, h5, h6 {
  margin: 0 !important;
}

.all-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a{
  text-decoration: none !important;
}

/* heading */
.heading{
  text-align: center;
  padding: 20px 0;
}

.heading h3{
  font-size: 30px;
  font-weight: 600;
  color:  var(--color-black);
}

.heading .seprator{
  width: 50px;
  height: 4px;
  border-radius: 10px;
  background-color:  var(--color-red);
  display: block;
  margin: auto;
  margin-top: 12px;
}

/* button */
.press{
  border: 1px solid var(--color-red);
  border-radius: 5px;
  padding: 7px 13px;
  font-size: 15px;
  background-color: var(--color-red);
  color: var(--color-white);
  text-align: center;
  transition: 0.5s;
  cursor: pointer;
}

.press:hover{
  opacity: 0.5s;
  transition: 0.5s;
  color:  var(--color-black);
}

.green{
  border: 1px solid var(--color-green);
  border-radius: 5px;
  padding: 7px 13px;
  font-size: 15px;
  background-color: var(--color-green);
  color: var(--color-white);
  text-align: center;
  transition: 0.5s;
  cursor: pointer;
}

.green:hover{
  opacity: 0.5s;
  transition: 0.5s;
  color:  var(--color-black);
}
